composer.lock
tests/_output/*
/tests/support/_generated/
/tests/functional/Fixtures/package.json
tests/functional/Fixtures/node_modules
/tests/functional/Fixtures/app/config/webpack.config.js
/tests/functional/Fixtures/var/
.php_cs.cache
.idea